.pictureimg{
  height: 180px;
  width: 79%;
  margin-left: 20%;
  margin-top: 2%;
  border: 1px solid black;
 }
 .pictureimg img{
   width: 100%;
   height: 100%;
 }
 #tlogo{
  display: flex; align-items: center; gap: 20px; background-color: rgb(244, 241, 241)
 }

  /* Delivery Status */
  .delivery {
    font-size: 18px;
    margin-top: 5px;
  }
  
  .delivery-available {
    color: green;
    font-size: 18px;
  }
  
  .delivery-out {
    color: red;
    font-size: 18px;
  }
  /* Filter and Sort */
  .cont {
    position: relative;
}

.select-item {
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    letter-spacing: 0.2em;
    margin-left: 4%;
    margin-top: 10%;
    height: 28px;
}

.dropdown-options {
    display: none; /* Hide options by default */
    background-color: white;
    font-size: 20px;
    letter-spacing: 0.2em;
    position: absolute;
    width: 80%; /* Make sure it covers the container width */
    z-index: 1000;
    margin-left: 4%;
}

.dropdown-options select {
    width: 98%;
    font-size: 18px;
}

.select-item:hover,
.select-item:focus {
    background-color: lightgray; /* Optional: Highlight heading on hover */
}

.dropdown-options {
  display: none;
}


.dropdown-options.visible {
  display: block;
}
#product-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 13px;
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 40px;
  /* border: 1px solid black; */
  margin: 20px auto;
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  /* background-color: #f9f9f9; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-card img {
  max-width: 100%;
  height: 200px;

  object-fit: cover;

}




.product-card:hover {
  transform: scale(1.05);
}


.product-card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #218838;
}
#pagination{
  margin-left: 600px;
}

#pagination button {
  padding: 10px 15px;
  margin: 80px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

#pagination button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

#pagination button:hover {
  background-color: #007bff;
  color: white;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}




  